@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: linear-gradient(
    to bottom,
    #453d4b,
    #3b3540,
    #312d35,
    #28252b,
    #1f1d21
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.image {
    height: 20vw;
    width: 60vw;
    border-radius: 30px;
    border: 3px solid #887898;
}

.timer {
  font-size: 10vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-shadow: 0 0 30px white;
}
